h1 {
  margin:0 0 0 0;
  letter-spacing: 4.5px;
}

h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0 0;
	
	/* align-items: flex-end; */
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
	margin: 0 0 0 0;
	font-family: Roboto;
	font-style: normal;
  font-weight: normal;
  /* color:yellow */
	
	}

li {
  list-style-type: none;
}
ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


/* main container */
.container {
  margin: 0 auto 0 auto;
  max-width: 1600px;
  background-size: cover
  /* border: 1px solid yellow; */
}
.btn {
  display: flexbox;
  justify-content: center;
  padding: 15px 47px;

  /* position: absolute; */
  width: 184px;
  height: 46px;
  border: none;

  background: #00afdb;
}
button,
button:active,
button:focus {
  outline: none;
  background: greenyellow;

  /* background-color: #00AFDB; */
  transition-property: background-color;
  transition-duration: 3s;
}

.main-discription-wrap {
	font-size: 14px;
	line-height: 80%;
}

.btn-started-text {
  display: block;
  width: 120px;
  height: 16px;
  left: calc(50% - 90px / 2);
  top: calc(50% - 16px / 2);
  /* margin-top: 16px; */
  /* margin-right: 2px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0 0px 0px 1px;
}

.header {
  display: flexbox;

  justify-content: center;
  width: 1600px;
  height: 744px;

  background-image: url("./assets/img/header_bg.jpg");

  /* border: 10px solid red; */
}

.logo-wrap {
  width: 44px;
  height: 44px;
  margin: 24px 55px 0 57px;

  /* padding: 2px -49px 0 -31px; */
}

.faq {
  margin: 0 7px 0 -12px;
}

.main-nav {
  display: flex;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;

  /* border: 1px solid green; */
}

.main-menu {
  display: flex;
  flex-direction: row;
  width: 680px;
  height: 95px;
  align-items: center;
  justify-content: space-around;

  color: #ffffff;
  font-size: 18px;
  list-style-type: none;

  /* border: 1px solid green; */
}

.main-menu > li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 140%; */
  /* margin: -2px -4px 0 1px; */
}

.action-wrapper {
  margin-top: 134px;
  max-width: 800px;
  height: 210px;
  margin-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  /* border: 1px solid green; */
}
.main-slogan {
  top: 202px;
  margin-top: 3px;
  margin-bottom: 24px;
  margin-right: 12px;
  padding-right: 0pt;
  font-size: 1em;
  margin: 7px -9px 28px 0;
}
.main-discription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
	font-size: 18px;
  line-height: 140%;
	text-align: center;

  color: #ffffff;
  margin: -7px -5px 30px 0px;
}

/* .action-wrapper > p {

} */
.main-slogan {
  font-family: Roboto;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  color: #ffffff;
}

.main-action {
  /* margin-top: 7px;
  margin-left: 7px; */
}

.slogan-wrapper {
  display: flexbox;
  justify-content: center;

  max-width: 760px;
  height: 220px;
  top: 600px;

  font-family: Roboto;

  font-weight: bold;
  color: #ffffff;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 175px;
  height: 20px;
  margin: 194px auto 0 auto;
  padding: 0 0 0 4px;
  text-align: center;
  list-style-type: none;
  /* border: 1px solid green; */
}

.social-icon > ul {
  display: flex;
  width: 170px;

  border-inline-start: 0;
  margin: 0 -0.6px 0 0;
  padding: 0;

  justify-content: space-between;
}


/* 2 list */
.represent {
	display: flex;
	justify-content: center;
	/* align-items: center; */

  max-width: 1600px;
  height: 842px;

  margin: auto 0 auto 0;
  background: #ffffff;
}
.second-action-btn {
	margin: 30px 0 0 -1px;
}

.card-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	max-width: 1110px;
  height: 582px;
  margin: 121px 0 auto 8px;
  /* border: 1px solid yellow; */
}

.card {
	display: flex;
	justify-content: space-between;
	width: 1064px;
	height: 582px;
	/* margin-left: 200px; */

  margin: 0 0 0 23px; /*32*/
  /* border: 1px solid yellow; */
}

.lozung-wrap {
	/* display: inline-block; */
	width: 390px;
  margin: 173px 6px 0 0;
  color: #373737;
}

.second-action {
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	
  align-items: left;
  margin: -1px 8px 0 2px;
}



	
	/* initial-letter: 120%; */

.discription-wrap {
  max-height: 290px;
  margin: 19px 0 0 0;

}
.represent-discription {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0;
  line-height: 1.3rem;
  /* color:yellow */
} 

.second-action > h3 {
	position: absolute;
	width: 367px;
	height: 57px;
	left: 0px;
	top: 0px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #373737;
}

.rappresent {
  max-width: 1600px;
  background-image: url(./assets/img/header_bg.jpg); /* Путь к фоновому изображению */
}

/* Our community */
/*---------------------------------------------------------- */

.our-community {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 1600px;
	height: 504px;
	/* border: 1px solid yellow; */
	background-color: #F5F6F7;
}



.community-slider-pagination {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
  margin: 6px -2px 18px 532px;
}

.community-pagination-p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.community-slider-pagination-arow-left {
  margin: 5px 0 0 0;
  
  /* border: 1px solid yellow; */
}

.community-slider-pagination-arow-right {
  margin: 5px -1px 0 0;
}



.community-slider-img-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1px 0 0 2px ;
	width: 894px;
	height: 244px;
	/* border: 1px solid red; */
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 894px;
  height: 380px;
  
  margin: 0 0 72px 2px;
	  /* border: 1px solid red; */
}

.community-card {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
	margin: -26px 0 4px 268px;
	width: 300px;
	height: 200px;
  
  text-align: center;

  /* border: 1px solid yellow; */
}

.comunnity-img-wrap {
  margin: 17px -1px 0 0;
  width: 300px;
  height: 30px;
  
}
.community-card-h4 > h4 {
  /* h3-16-upper-bold */
  width: 300px;
  height: 13px;
  margin: 36px 0 3px 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  /* color: yellow */
  /* color: #373737; */
}

.community-card-p {
  width: 300px;

  margin: 16px 0 0 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: .03px;
  /* or 20px */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #4E4E4E;
}

/* Implement */

/* ________________________________________ */

.implement {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 1600px;
  height: 842px;

 
}
.card-implement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  margin: -18px 108px 0 0;
}

.implement-card-wrap {
  height: 190px;
  margin: 0 0 0 0;
}

.implement-lozung-wrap {
  width: 300px;
  text-align: start;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  margin: 0px 0px 21px 0;

  letter-spacing: .3rem;
  text-transform: uppercase;


}

.implement-discription-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  line-height: 140%;
  letter-spacing:100%;
  /* or 20px */

  margin: 0 0 0 0;
  color: #4E4E4E;
}

.implement-action-btn {
  width: 180px;
  margin: 31px 0 0 0;
}

.implement-btn-started-text {
  position: static;
  width: 99px;
  height: 16px;
  left: calc(50% - 86px/2);
  top: calc(50% - 16px/2);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .01rem;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: -1px 0;
}
/* Sign up */

/* --------------------------- */
.sign-up-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  align-items: center;
  height: 598px;
  margin: 0px -9px 0 0;
  background-image: url("./assets/img/pexels-christina-morillo-1181675\ 1.jpg");
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 104px;
  width: 406px;

  /* border: 1px solid red; */
  
  margin: 34px 0 0 91px;

}

.sign-up-lable {
  width: 380px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: .96px;
  text-transform: uppercase;

  color: #FFFFFF;

  margin: -37px 66px 0 0;
}

.sign-up-input-btn {
  
  display: flex;
  /* justify-content: space-between; */
  height: 46px; 
  margin: 28px 66px 60px 0px;
  
}

.sign-up-form {
  height: 46px;
  width: 315px;
  left: 0px;
  top: 58px;
  border-radius: 0px;
  border: none;
  margin: 0 0 0 0;
  padding: 3px 0 0 22px;

}

.sign-up-form::-moz-placeholder {
  /* font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;


  color: #373737;
  padding: 3px 0 0 22px; */
}

.sign-up-form::-webkit-input-placeholder { 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: flex-end;

  color: #373737;

 }
.sign-up-form:-ms-input-placeholder {
  /* font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  color: #373737;
  padding: 3px 0 0 22px; */
}
.sign-up-form::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  color: #373737;
}
.sign-up-form::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #373737; 

} 

.btn-confirm {
  height: 48px;
  width: 66px;
  border: none;
  background: #00AFDB;

}

.btn-icon-confirm {
  margin: 5px -3px 0 0;
}

/* Download */
/* --------------- */


.download {
  display: flex;
  justify-content: center;
  align-items:center;
  max-width: 1600px;
  height: 468px;
  width: 1600px;


}

.download-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  
  height: 166px;
  width: 475px;

  margin: 0 -4px 60px 0;
}

.download-text-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 0;
}

.download-h4 {
  height: 28px;
  width: 300px;



  /* h2-24-bold */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
  margin: -33px 0px 52px 117px;
}

.download-p {
  width: 483px;
  height: 40px;


  /* body-14-reg */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;

  color: #4E4E4E;
  margin: 0 0 0 0;
}

.download-btns-wrap {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 406px;

  margin: 0 0 0 0;
}

.download-btn-apple {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 188px;
}

.download-btn-apple-left {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 128px;
  background-color: #00AFDB;
}

.download-btn-apple-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .07px;
  color: #FFFFFF;
  margin: 19px 0 0 21px;
}

.download-btn-apple-right {
  height: 50px;
  width: 60px;

  background-color: #009CC2;
}

.download-btn-apple-logo {
  display: flex;
  justify-content: center;

  margin: 15px -2px 0 0;
}

.download-btn-android {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 188px;

}

.download-btn-android-left {
  height: 50px;
  width: 128px;
  background-color: #00AFDB;
}

.download-btn-android-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: .07px;
  color: #FFFFFF;
  margin: 19px 0 0 0;
}

.download-btn-android-right {
  height: 50px;
  width: 60px;

  background-color: #009CC2;
}

.download-btn-android-logo {
  display: flex;
  justify-content: center;
  
  margin: 13px -1px 0 0;
}

/* Footer */
/* ---------------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items:center;
  max-width: 1600px;
  height: 184px;
  width: 1600px;
  background: #000000;
  border: 1px solid red;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 236px;
  height: 18px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */


  color: #FFFFFF;

  opacity: 0.98;

  margin: -20px 0 0 0;
}

.footer-logo {
  /* margin: -18px 85px 0 0; */
  margin: -19px 447px 0 383px;
  /* padding: 10px 443px 32px 390px; */
}
.autor {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  text-align: center;

  color: #818181;

  margin: 0px 0 20px 0;
}


/* Animation */
/* ________________________________________________________________ */
a {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .8s;
  color: #FFFFFF
}

a:hover {
  background-size: 100% 2px;
  font-weight: 800;
  color: #FFFFFF
}

a:focus button:focus {
  cursor: pointer;
}

button:focus {
  cursor: pointer;
}
